@using MVCSchool.DTO

@model IEnumerable<StudentDTO>

<h1>List of all students</h1>

<form method="get" asp-action="Search">
    <label for="search">Search students:</label>
    <input list="search-students" type="search" id="search" name="query" />
    <datalist id="search-students">
        @foreach (var student in Model) {
            <option value="@student.LastName, @student.FirstName"></option>
        }
    </datalist>
    <button type="submit" class="btn btn-success">Search</button>
</form>

<a class="btn btn-secondary mb-2" asp-action="CancelFilter">Cancel filter</a>

<div>
    <a class="btn btn-success" asp-action="Create">Create a new student</a>
</div>
@foreach (var item in Model) {
    <div class="border border-1 border-dark p-2">
        <h5>@item.FirstName @item.LastName</h5>
        Id: @item.Id
        <p>Date of Birth: "@item.DateOfBirth.ToString()"</p>
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
        <form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display:inline;">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
}
